# Core
torch>=2.1.0
torchvision>=0.16.0
gymnasium>=0.28.0
gymnasium-super-mario-bros>=0.8.0
nes-py>=8.2.1
opencv-python>=4.8.0
numpy>=1.24.0

# Monitoring & logging
tensorboard>=2.14.0
wandb>=0.16.0

# Optimisation & search
optuna>=3.3.0

# Utilities
ffmpeg-python>=0.2.0
